


<div class="jumbotron">
  <p>Contact Info:</p>
  <h1 class="display-5">
  <%= @friend.first_name %>
  <%= @friend.last_name %>
  </h1>
  <p class="lead"><%= @friend.email %> | <%= @friend.phone %> | <%= @friend.twitter %></p>
  <hr class="my-4">
  
  <%= link_to 'Edit', edit_friend_path(@friend),  class:"btn btn-secondary" %> |
<%= link_to 'Back', friends_path,  class:"btn btn-secondary" %>
</div>

<p>
  <strong>First name:</strong>
  <%= @friend.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @friend.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @friend.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @friend.phone %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @friend.twitter %>
</p>
